body {
    box-sizing: border-box;
}
.main {
    height: 475px;
    width: 760px;
    border: 1px solid silver;
}
.a {
    height: 150px;
    width: 750px;
    background: silver;
    margin-left: 5px;
    margin-top: 5px;
}
.b {
    height: 150px;
    width: 183px;
    background: silver;
    margin-top: 5px;
    margin-left: 5px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.h {
    height: 305px;
    width: 183px;
    background: silver;
    margin-top: 5px;
    margin-left: 5px;
}
.centr {
    justify-content: center;
    height: 10em;
    display: flex;
    align-items: center;
    margin: 0;
}
.h1 {
    margin-left: 85px;
    margin-top: 70px;
}
