body {
    margin: 0px;
}
.top {
    background: #8a2928;
    text-align: center;
    border-bottom: 20px;
}
.size {
    font-size: 150%;
}
.body {
    background: #c0c0c0;
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0px;
}
.bottom {
    background: #6496ec;
    height: 80px;
    padding-top: 40px;
    margin: 0px;
}
.green {
    background: #6cbb68;
    height: 300px;
    width: 300px;
}
.end {
    background: #8987ac;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}