.border{
    border: 6px solid #818181;
    width: 850px;
    height: 560px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.border2{
    border: 6px solid #818181;
    width: 850px;
    height: 560px;
    border-radius: 20px;
    margin-top: 10px;
}
.pic-a{
    width: 830px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pic-b{
    height: 330px;
    width: 500px;
    margin-left: 10px;
}
.b{
    height: 150px;
    width: 500px;
    margin-left: 10px;
}
.b2{
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pic-c{
    height: 330px;
    width: 315px;
    margin-left: 10px;
}
.c{
    height: 150px;
    width: 160px;
    margin-left: 10px;
    margin-top: 10px;
}
.f{
    height: 310px;
    width: 320px;
    margin-left: 10px;
    margin-top: -150px;
}
.h{
    height: 310px;
    width: 340px;
    margin-left: 500px;
    margin-top: -320px;
}
.back{
    background: silver;
}
.flex{
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 0) and (max-width: 800px){
.border{
    display: flex;
    flex-direction: column;
    border: 6px solid #818181;
    width: 400px;
    height: 750px;
    border-radius: 20px;
}
    .border2{
        display: flex;
        flex-direction: column;
        border: 6px solid #818181;
        width: 400px;
        height: 750px;
        border-radius: 20px;
        margin-top: 10px;
    }

    .pic-b{
        height: 300px;
        width: 380px;
        margin-left: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .b{
        height: 250px;
        width: 380px;
        margin-left: 10px;
        border-radius: 20px;
    }
    .b2{
        height: 117px;
        width: 117px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    .pic-c{
        height: 200px;
        width: 380px;
        margin-left: 10px;
        border-radius: 20px;
    }
    .c{
        height: 100px;
        width: 120px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 20px;
    }
    .pic-a{
        width: 380px;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    .f{
        height: 140px;
        width: 380px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 20px;
    }
    .h{
        height: 250px;
        width: 370px;
        margin-left: 10px;
        margin-top: 1px;
        border-radius: 20px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .flex-size{
        flex-direction: row;
    }
}